* {
    padding: 0;
    margin: 0;
}

body {
    height: min(100svh, 100svw);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #ccc;
    background: radial-gradient(#3e3e3ec3, #3e3e3ec3), url(noise.svg);
    /* border-radius: 50%; */
    filter: contrast(120%);
    box-sizing: border-box;
}
